.Banner {
  display: flex;
  width: 90%;
  height: 350px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

/* Category */
.Category {
  width: 20%;
}

.CategoryIcons {
  color: rgb(118, 182, 0);
}

.Category ul li {
  width: 80%;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  margin-top: 5px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  cursor: pointer;
  color: rgb(99, 99, 99);
  border-left: 3px solid greenyellow;
}

.Category ul li:hover {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  color: rgb(0, 0, 0);
  background: rgb(220, 255, 166);
}

/* Slider */
.Banner_Sliders {
  width: 60%;
  height: 100%;
  border-radius: 5px;
}

.Banner_Slide1 {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  background: url(./3.png) no-repeat center;
  background-size: cover;
}
.Banner_Slide2 {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  background: url(./2.jpg) no-repeat center;
  background-size: cover;
}
.Banner_Slide3 {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  background: url(./1.png) no-repeat center;
  background-size: cover;
}

.BannerContent {
  height: 100%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
}

.Banner_Title {
  padding-top: 10%;
  margin-left: 10%;
  font-size: 32px;
  font-weight: bold;
  color: rgb(228, 220, 255);
  letter-spacing: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Banner_Description {
  width: 400px;
  margin-top: 10px;
  margin-left: 10%;
  font-size: 17px;
  font-weight: bold;
  color: rgb(255, 246, 220);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.BannerDiscount {
  width: 20%;
  margin-left: 20px;
}

.BannerDiscount1 {
  height: 80px;
  background: url(./apple.jpg);
  background-image: cover;
  margin-bottom: 10px;
}

.BannerDiscount2 {
  height: 80px;
  background: url(./blender.jpg);
  background-image: cover;
  margin-bottom: 10px;
}

.BannerDiscount3 {
  height: 80px;
  background: url(./books.jpg);
  background-image: cover;
  margin-bottom: 10px;
}

.BannerDiscount4 {
  height: 80px;
  background: url(./tshirt.jpg);
  background-image: cover;
  margin-bottom: 10px;
}

/* Mobile view */

.MobileViewCategory {
  width: 90%;
}

.BannerDiscountContent {
  height: 100%;
  border-radius: 5px;
  color: rgb(226, 226, 226);
  background: rgba(0, 0, 0, 0.5);
}

.BannerDiscountContent:hover {
  color: white;
}

@media (max-width: 1000px) {
  .Banner_Sliders {
    width: 96%;
    margin: auto;
  }
  .Category {
    display: none;
  }
  .BannerDiscount {
    display: none;
  }
}

@media (max-width: 800px) {
  .Banner {
    width: 100%;
    margin: 10px 0px;
    height: 250px !important;
  }
  .Banner_Slide1 {
    height: 250px !important;
  }
  .Banner_Slide2 {
    height: 250px !important;
  }
  .Banner_Slide3 {
    height: 250px !important;
  }
}
