.Banner{
    display: flex;
    width: 90%;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

/* Category */
.Category {
    width: 20%;
} 

.Category ul li {
    width: 80%;
    font-size: 16px;
    font-weight: 500;
    list-style: none;
    margin-top: 5px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    cursor: pointer;
    border-left: 3px solid orange;
}

.Category ul li:hover{
    border-bottom-right-radius: 25px;
    background: rgb(220, 255, 166);
}

/* Slider */
.Banner_Sliders {
    width: 60%;
    height: 100%;
}

.Banner_Slide1{
    width: 100%;
    height: 350px;
    background: url(./3.png);
}
.Banner_Slide2{
    width: 100%;
    height: 350px;
    background: url(./2.jpg);
}
.Banner_Slide3{
    width: 100%;
    height: 350px;
    background: url(./1.png);
}

.Banner_Title {
    margin-top: 10%;
    margin-left: 10%;
    font-size: 32px;
    font-weight: bold;
    color: rgb(228, 220, 255);
    letter-spacing: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Banner_Description {
    width: 400px;
    margin-top: 10px;
    margin-left: 10%;
    font-size: 17px;
    font-weight: bold;
    color: rgb(255, 246, 220);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.BannerDiscount {
    width: 20%;
    margin-left: 20px;
}

.BannerDiscount1 {
    height: 80px;
    background: url(./apple.jpg);
    background-image: cover;
    margin-bottom: 10px;
}

.BannerDiscount2 {
    height: 80px;
    background: url(./blender.jpg);
    background-image: cover;
    margin-bottom: 10px;
}

.BannerDiscount3 {
    height: 80px;
    background: url(./books.jpg);
    background-image: cover;
    margin-bottom: 10px;
}

.BannerDiscount4 {
    height: 80px;
    background: url(./tshirt.jpg);
    background-image: cover;
    margin-bottom: 10px;
}

/* Mobile view */

.MobileViewCategory {
    width: 90%;
}














@media (max-width:1000px) {
    .Banner_Sliders{
        width: 96%;
        margin: auto;
    }
    .Category{
        display: none;
    }
    .BannerDiscount{
        display: none;
    }
    
}