/* color-code-dark: #ff7730 */
/* color-code-light: #ffb970 */

.header {
    /* background-image: linear-gradient(to right, rgba(255, 119, 48, .5), rgba(255, 185, 112, .5)); */
    background-image: linear-gradient(to right, #ff7730, #ffb970);
    /* background-color: rgba(171, 235, 21, .5); */
    color: #fff;
    padding: 20px 0;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, .1);
}

.grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 32px;
    grid-template-columns: 20% 2fr 1fr;
    text-align: center;
}

.logoContainer {
    padding: 0 32px;
}

.headerSearch {
    width: 100%;
}

.searchInput {
    width: 70%;
    padding: 8px 12px;
    color: #000;
    border-radius: 5px 0 0 5px;
    display: inline-block;
    outline: none;
}

.searchBtn {
    padding: 9px 22px;
    border-radius: 0 5px 5px 0;
    background-color: rgb(199, 60, 18);
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.headerDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.icon {
    font-size: 32px;
    cursor: pointer;
    color: rgb(58, 58, 58);
}

.loginBtn {
    font-size: 22px;
    background-color: wheat;
    color: black;
    padding: 8px 14px;
    border-radius: 8px;
}

.logoContainer {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (max-width: 810px) {
    .grid {
        width: 90%;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 22px;
    }
    
    .headerSearch {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .grid {
        width: 90%;
        gap: 14px;
    }
    .searchInput {
        width: 55%;
    }
}